# Python
__pycache__/
*.py[cod]
*.class
*.so
*.egg
*.egg-info/
dist/
build/
*.log
logs/

# Django
*.db
*.sqlite3
staticfiles/
media/
migrations/

# Environment variables
.env
.env.local
.env.*.local

# Node
node_modules/
.npm

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
